<ion-header>
    <ion-toolbar>
        <div class="toolbar">
            <div class="toolbar-user">
                <img *ngIf="user?.avatar_url" src="{{user.avatar_url}}" height="60"/>
                <p *ngIf="user?.nickname">{{user.nickname}}</p>
            </div>
            <ion-button (click)="logout()">exit</ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-difficulty
        *ngIf="!difficulty"
        class="bloc-quizz"
        (difficultyChosen)="difficultyChosen($event)"
    ></app-difficulty>

    <div *ngIf="difficulty">
        <p>level: {{difficulty.name}}</p>
        <app-question
            [difficulty]="difficulty"
            [quizzPartie]="quizzPartie"
            (quizzPartieFinished)="quizzPartieFinished($event)"
        ></app-question>
    </div>

    <div *ngIf="partieFinished" class="bloc-quizz">
       <p>the game is finished</p>
       <p>your score: {{quizzPartie.score}}</p>
       <p>duration: {{quizzPartie.time}} secondes</p>
        <div class="button-finished-game">
            <ion-button (click)="shareQuizz()">share your score</ion-button>
            <ion-button (click)="quitQuizz()">quit</ion-button>
        </div>
    </div>
</ion-content>
