.toolbar-user {
  display: flex;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloc-quizz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-finished-game ion-button {
  width: 100%;
}
