<ion-header>
    <ion-toolbar>
        <div class="toolbar">
            <div class="toolbar-user">
                <img *ngIf="user?.avatar" src="{{user.avatar}}" height="60"/>
                <p *ngIf="user?.nickname">{{user.nickname}}</p>
            </div>
            <ion-button (click)="logout()">exit</ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-difficulty
        *ngIf="!difficulty"
        class="bloc-quizz"
        (difficultyChosen)="difficultyChosen($event)"
    ></app-difficulty>

    <div *ngIf="difficulty">
        <p>level: {{difficulty.name}}</p>
        <app-question
            [difficulty]="difficulty"
            [quizzPartie]="quizzPartie"
            (quizzPartieFinished)="quizzPartieFinished($event)"
        ></app-question>
    </div>

    <div *ngIf="partieFinished" class="bloc-quizz">
       <p>the game is finished your score is:</p>
       <p>{{quizzPartie.score}}</p>
        <div class="button-finished-game">
            <ion-button>share your score</ion-button>
            <ion-button>re-start</ion-button>
            <ion-button>quit</ion-button>
        </div>
    </div>
</ion-content>
