<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding class="test">
    <ion-content>
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <p>WELCOME IN THE GAME TRIVIAL</p>
            </ion-row>
            <ion-row justify-content-center align-items-center>
                <ion-button (click)="startGame()">start the game</ion-button>
            </ion-row>
        </ion-grid>
    </ion-content>
    <!--<ion-button (click)="startGame()">Send</ion-button>-->
</ion-content>
