<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding class="test cards-bg">
    <ion-content>
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <p>WELCOME IN THE GAME TRIVIAL</p>
            </ion-row>
            <ion-row justify-content-center align-items-center>
                <ion-button (click)="dashboard()">Look scores</ion-button>
                <ion-button (click)="startGame()">start game</ion-button>
            </ion-row>
        </ion-grid>

        <ion-content class="cards-bg"  *ngIf="user">
            <ion-card *ngIf="user">
                <ion-row no-padding>
                    <ion-col>
                        <ion-card-title>
                            {{user.nickname}}
                        </ion-card-title>
                    </ion-col>
                    <ion-col text-right>
                        <ion-button (click)="deleteUser()" color="danger" size="small">delete</ion-button>
                    </ion-col>
                </ion-row>
                <img src="{{user.avatar_url}}">
            </ion-card>
        </ion-content>
    </ion-content>
</ion-content>
